<div id="all-ideas" v-cloak>
  <div class="main-panel">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> All on Ideask</h4>
            </div>
            <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><strong>Author</strong></th>
                    <th scope="col"><strong>Name</strong></th>
                    <th scope="col"><strong>Subtitle</strong></th>
                    <th scope="col"><strong>Description</strong></th>
                    <th scope="col"><strong>Notes</strong></th>
                  </tr>
                </thead>
                <tbody>
                <% _.each(ideas, function (idea) { %>
                  <tr>
                    <td>
                      <a href="/users/<%= idea.owner.id%>/ideas"><%= idea.owner.firstName %> <%= idea.owner.lastName %></a>
                    </td>
                    <td>
                      <a href="#"><%= idea.title %></a>
                    </td>
                    <td>
                      <%= idea.subtitle %>
                    </td>
                    <td>
                      <%= idea.description %>
                    </td>
                    <td>
                      <%= idea.notes %>
                    </td>
                    <!-- <td class="text-right">
                      <a href="/ideas/<%= idea.id %>/edit" type="submit" class="btn btn-default btn-sm col-md-4">
                        Edit</a>
                      <a  class="btn btn-danger btn-sm col-md-4" data-toggle="modal" data-target="#deletemodal"> Delete</a>

                      <div class="modal fade modal-mini modal-primary" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-body">
                              <p>Do you really want to delete this?</p>
                            </div>
                            <div class="modal-footer">
                              <a href="/api/v1/ideas/<%= idea.id %>/delete"><button type="button" class="btn btn-link btn-neutral">Yes</button></a>
                              <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">No</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </td>!-->
                  </tr>
                <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <a href="/new/idea" class="col-md-4 btn btn-primary btn-round btn-lg btn-block">Create new idea</a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>




<!-- <div id="all-ideas" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/ideas/all-ideas.less</em>, <em>assets/js/pages/ideas/all-ideas.page.js</em>, and <em>api/controllers/ideas/view-all-ideas.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %> -->
