<div id="all-ideas" v-cloak>
  <div class="main-panel">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> All on Ideask</h4>
            </div>
            <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><strong>Author</strong></th>
                    <th scope="col"><strong>Name</strong></th>
                    <th scope="col"><strong>Subtitle</strong></th>
                    <!-- <th scope="col"><strong>Description</strong></th>
                    <th scope="col"><strong>Notes</strong></th> -->
                    <th scope="col"><strong>⬆︎</strong></th>
                    <th scope="col"><strong>⬇︎</strong></th>
                  </tr>
                </thead>
                <tbody>
                <% _.each(ideas, function (idea) { %>
                  <tr>
                    <td>
                      <a href="/users/<%= idea.owner.id%>/ideas"><%= idea.owner.firstName %> <%= idea.owner.lastName %></a>
                    </td>
                    <td>
                      <a href="/ideas/<%= idea.id%>"><%= idea.title %></a>
                    </td>
                    <td>
                      <%= idea.subtitle %>
                    </td>
                    <!-- <td>
                      <%= idea.description %>
                    </td>
                    <td>
                      <%= idea.notes %>
                    </td> -->
                    <td>
                      <%= idea.upvoters.length %>
                    </td>
                    <td>
                        <%= idea.downvoters.length %>
                    </td>

                    <% if(user.id in idea.upvoters) { %>
                      <td class="text-right">
                        -
                      </td>
                    <% } else { %>
                      <td class="text-right">
                          <a href="/api/v1/ideas/<%= idea.id %>/upvote">
                            ⬆︎Upvote
                          </a>
                          <a href="/api/v1/ideas/<%= idea.id %>/downvote">
                            ⬇︎Downvote
                          </a>
                      </td>
                    <% } %>
                  </tr>
                <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>




<!-- <div id="all-ideas" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/ideas/all-ideas.less</em>, <em>assets/js/pages/ideas/all-ideas.page.js</em>, and <em>api/controllers/ideas/view-all-ideas.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %> -->
