<div id="idea" v-cloak>
  <div class="main-panel">
    <div class="content">
      <div class="row">
        <div class="col-md-12">

          <div class="card">
            <div class="card-header">
              <h4 class="card-title"><%= idea.title %></h4>
            </div>
            <div class="card-body">

              <div class="idea-form">
                <p class="text-left"><%= idea.subtitle %></p>
                <hr/>

                <label for="title">Description</label>
                <p><%= idea.description %></p>
                <label for="title">Notes</label>
                <p><%= idea.notes %></p>
                <hr/>

                <p>Comments</p>
                <% _.each(idea.comments, function (comment) { %>
                  <tr>
                    <%= comment.id %>
                  </tr>
                <% }) %>

                <ajax-form action="newComment" :syncing.sync="syncing" :cloud-error.sync="cloudError"
                           @submitted="submittedForm()"
                           :handle-parsing="handleParsingForm">
                  <div class="row">

                    <div class="form-group col-md-12">
                      <label for="title">New comment</label>
                      <input class="form-control" id="comment" type="textarea"
                             :class="[formErrors.description ? 'is-invalid' : '']" v-model.trim="formData.description"
                             placeholder="">
                      <div class="invalid-feedback" v-if="formErrors.description">
                        Please provide some text for the comment
                      </div>
                    </div>

                    <div class="form-group col-md-12">
                      <div class="row">
                        <div class="text-right">
                          <ajax-button type="submit" :syncing="syncing" class="btn btn-primary btn-round">
                              <i class="now-ui-icons ui-2_chat-round"></i> Comment
                          </ajax-button>
                        </div>
                      </div>
                    </div>

                  </div>
                </ajax-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %> -->
