<div id="user-ideas" v-cloak>

  <h1>Ideas of <%= user.firstName %> <%= user.lastName %></h1>


  <% _.each(ideas, function (idea) { %>
    <p>
        <h5><%= idea.title %></h5>
        <div>Subtitle: <%= idea.subtitle %></div>
        <div>Description: <%= idea.description %></div>
        <div>Notes: <%= idea.notes %></div>
    </p>
    
  <% }) %>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
